<div (click)="selectChatFriend.emit($event)"
     class="d-flex align-items-center justify-content-between mb-2 chat-user">
    <div class="row d-flex align-items-center" style="width: 100%;">
        <div *ngIf="friend.isOnline"
             class="col-1 symbol symbol-circle symbol-50 mr-2"
             style="width: 100%;">
            <friend-profile-picture [tenantId]="friend.friendTenantId"
                                    [userId]="friend.friendUserId"
                                    cssClass="header-profile-picture m--img-rounded m--marginless m--img-centered mr-2 chat-online">
            </friend-profile-picture>
        </div>
        <div *ngIf="!friend.isOnline"
             class="col-1 symbol symbol-circle symbol-50 mr-2"
             style="width: 100%;">
            <friend-profile-picture [tenantId]="friend.friendTenantId"
                                    [userId]="friend.friendUserId"
                                    cssClass="header-profile-picture m--img-rounded m--marginless m--img-centered mr-2 chat-offline">
            </friend-profile-picture>
        </div>
        <div class="col-9 d-flex flex-column">
            <span *ngIf="friend.friendTenancyName && friend.friendTenancyName != 'Default'"
                  class="text-muted font-weight-bold font-size-sm"
                  style="font-size: 8pt;">
                {{friend.friendTenancyName}}
            </span>
            <span *ngIf="!friend.friendTenancyName"
                  class="text-muted font-weight-bold font-size-sm m-nav__link-icon-wrapper m-nav__link-text-light"
                  style="font-size: 8pt;">
                Host
            </span>
            <a class="m-nav__link-title m-topbar__menu-text m-nav__link-text-light"
               data-placement="top"
               data-toggle="tooltip"
               href="javascript:;"
               style="text-decoration: none;"
               title="{{getTitle()}}">
                {{friend.name != null ? friend.name : friend.friendUserName}}
            </a>
        </div>
        <div class="col-1 d-flex flex-column align-items-end">
            <span *ngIf="friend.unreadMessageCount"
                  class="m-nav__link-title m-topbar__menu-text m-nav__link-text-light unread-notification">
                {{friend.unreadMessageCount}}
            </span>
        </div>
    </div>
</div>
