<div [@routerTransition]>

    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{"Languages" | localize}}</span>
                </h3>
                <span class="m-section__sub">
                    {{"LanguagesHeaderInfo" | localize}}
                </span>
            </div>
            <div class="col text-right mt-3 mt-md-0">
                <button *ngIf="isGranted('Pages.Administration.Languages.Create')" (click)="createOrEditLanguageModal.show()" class="btn btn-primary"><i class="fa fa-plus"></i> {{"Create" | localize}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                    <div class="m-form m-form--label-align-right">
                            <form autocomplete="off" (submit)="getLanguages()" >
                                <div class="form-body">
                                    <div class="row m--margin-bottom-10">
                                        <div class="col-xl-12">
                                                <label for="TenantNameOrTenancyCode">{{'Code' | localize}} / {{'Name' | localize}}</label>
                                            <div class="input-group">
                                                <input id="TenantNameOrTenancyCode" [(ngModel)]="filters.filterText" name="filterText" class="form-control" placeholder="{{'SearchWithThreeDot' | localize}}" type="text">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                <div class="align-items-center">
                    
                    <div class="primeng-datatable-container" [busyIf]="dataTableHelper.isLoading">
                        <p-table #dataTable
                                 (onLazyLoad)="getLanguages()"
                                 [value]="dataTableHelper.records"
                                 rows="{{dataTableHelper.defaultRecordsCountPerPage}}"
                                 [paginator]="false"
                                 [lazy]="true"
                                 [responsive]="dataTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 80px"
                                        [hidden]="!isGrantedAny('Pages.Administration.Languages.Edit', 'Pages.Administration.Languages.ChangeTexts', 'Pages.Administration.Languages.Delete')">
                                        {{'Actions' | localize}}
                                    </th>
                                    <th pSortableColumn="name" style="width:150px">
                                            {{'Code' | localize}}
                                        <p-sortIcon field="name"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="displayName">
                                        {{'Name' | localize}}
                                        <p-sortIcon field="displayName"></p-sortIcon>
                                    </th>
                                    
                                    <th *ngIf="appSession.tenantId ? true : false">
                                        {{'Default' | localize}} *
                                    </th>
                                    <th pSortableColumn="creationTime" style="width:160px">
                                        {{'ModificationTime' | localize}}
                                        <p-sortIcon field="creationTime"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="isDisabled" style="width:70px">
                                        {{'Active' | localize}}
                                        <p-sortIcon field="isDisabled"></p-sortIcon>
                                    </th>
    
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 80px;">
                                        <div class="btn-group dropdown" dropdown>
                                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.Languages.Edit')"
                                                        (click)="setAsDefaultLanguage(record)">{{'SetAsDefaultLanguage' | localize}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.Languages.ChangeTexts')"
                                                       (click)="changeTexts(record)">{{'ChangeTexts' | localize}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.Languages.Edit') && record.tenantId === appSession.tenantId"
                                                       (click)="createOrEditLanguageModal.show(record.id)">{{'Edit' | localize}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.Languages.Delete') && record.tenantId === appSession.tenantId"
                                                       (click)="deleteLanguage(record)">{{'Delete' | localize}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">{{'Code' | localize}}</span>
                                            {{record.name}}
                                        </td>
                                    <td>
                                        <span class="ui-column-title">{{'Name' | localize}}</span>
                                        <span [ngClass]="{'text-bold' : defaultLanguageName === record.name}">
                                            <i [ngClass]="record.icon" class="margin-right-5"></i>
                                            {{record.displayName}} <span class="m-badge m-badge--brand m-badge--wide" *ngIf="defaultLanguageName === record.name">{{'Default' | localize}}</span>
                                        </span>
                                    </td>
                                   
                                    <td *ngIf="appSession.tenantId ? true : false">
                                        <span class="ui-column-title">{{'Default' | localize}}</span>
                                        <span class="label m-badge m-badge--success m-badge--wide"                                              
                                            *ngIf="record.tenantId !== appSession.tenantId">
                                            {{'Yes' | localize}}
                                        </span>
                                        <span class="label m-badge m-badge--metal m-badge--wide"
                                              *ngIf="record.tenantId === appSession.tenantId">
                                            {{'No' | localize}}
                                        </span>
                                    </td>
                                   
                                    <td>
                                            <span class="ui-column-title">{{'ModificationTime' | localize}}</span>
                                            {{record.lastModificationDate | momentFormat:'L LT'}}
                                        </td>
                                    <td>
                                        <span class="ui-column-title">{{'Active' | localize}}</span>
                                        <span class="label m-badge m-badge--success m-badge--wide"
                                              *ngIf="!record.isDisabled">
                                            {{'Yes' | localize}}
                                        </span>
                                        <span class="label m-badge m-badge--metal m-badge--wide"
                                              *ngIf="record.isDisabled">
                                            {{'No' | localize}}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="dataTableHelper.totalRecordsCount == 0">
                            {{'NoData' | localize}}
                        </div>
                    </div>
                    

                    <p class="margin-top-20" *ngIf="appSession.tenantId">
                        * {{"CanNotEditOrDeleteDefaultLanguages" | localize}}
                    </p>

                </div>
            </div>
        </div>
    </div>

    <createOrEditLanguageModal #createOrEditLanguageModal (modalSave)="getLanguages()"></createOrEditLanguageModal>
</div>
